**Assignment 1**

1. Explain the key features of Python that make it a popular choice for programming.

  - Python is very easy to learn and it's syntax is close to english it is beginner friendly.
  - It is an interpreted language.
  - It is dynamically typed.
  - It has massive community and ecosystem.
  - Very large number of library.

2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.
  - Predefine keywords are reserved words in Python with special meaning and functionalyties you cannot use them as variable and function name.
  Example - print(), in, def, True.

In [ ]:
name = 'Saumya Rajpoot' #name is a variable you cannot use keywords on the place on name
print(name) # print is a keyword

Saumya Rajpoot

3. Compare and contrast mutable and immutable objects in Python with examples.
  - Mutable ->
  - Mutable datatype can be modified after creation.
  - After modifying the memory location will be same.
  - These types of datatype used when data is need to change frequently.

  - Immutable ->
  - Immutable datatye cannot be modified after creation.
  - If we try to modify the memory location will be changed.
  - These datatype are used when data should remain constant.

In [ ]:
# Mutable datatype
numbers = [1, 2, 3]
print(id(numbers))  # Memory ID before change

numbers.append(4)   # Modify list in place
print(numbers)      # Output: [1, 2, 3, 4]
print(id(numbers))  # Same ID — modified in place

138888831880320
[1, 2, 3, 4]
138888831880320

In [ ]:
# Immutable datatype
name = "Alice"
print(id(name))  # Memory ID before change

name = name + " Smith"  # Creates a new string
print(name)             # Output: "Alice Smith"
print(id(name))         # Different ID — new object

138888815721136
Alice Smith
138888815709808

4. Discuss the different types of operators in Python and provide examples of how they are used.

In [ ]:
# Arithmetic Operator
x = 10
y = 3
print(x + y) # addition operator
print(x - y) # substraction operator
print(x * y) # multiplication operator
print(x / y) # division operator
print(x // y) # floor division operator
print(x % y) # modulus operator
print(x ** y) # exponential operator

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
# Comparison Operator
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x<=x)
print(x>=y)

False
True
True
False
True
True

In [ ]:
# Assignment operator
x = 5 # Assign
print(x)
x += 1 # same as x = x+1 assign and add
print(x)
x -= 1 # same as x = x-1 assign and substract
print(x)
x *= 2 # same as x = x*2 assign and multiply
print(x)
x /= 2 # same as x = x/1 assign and division
print(x)

x = 10
x //= 3 # same as x = x//3 assign and floor divide
print(x)
x %= 2 # same as x = x%2 assign and modulus
print(x)

x = 3
x **= 2 # same as x = x**2 assign and exponential
print(x)

5
6
5
10
5.0
3
1
9

In [ ]:
# Logical Operator
x = 5
print(x > 3 and x < 10)  # And operator if both condition is true then it will True other then false
print(not(x == 5))       # If the condition is true then it give False and if condition is false then gives True
print(x<10 or x>15)      # if atleast one condition is ture then it give true if all the condition is false then it will give false

True
False
True

In [ ]:
# Membership Operator
s = 'Apple'
print('p' in s)  # 'in' operator give true if value is found other then give false
print('s' not in s)  # 'not in' operator give true if value is not found other then give false

True

In [ ]:
# Identity Operator
a = [1, 2]
b = a
c = [1, 2]
print(a is b)    # True (same object) or (both a and b pointing to the same memory location)
print(a is c)    # False (different object with same content)
print(id(a),id(b))

True
False
138887957819456 138887957819456

In [4]:
# Bitwise Operator
print(5 & 3)  # bitwise And 5 -> 101 and 3 -> 011 output -> 001 (1)
print(5 | 3)  # bitwise Or 5 -> 0101 and 3 -> 0011 output -> 0111 (7)
print(5 ^ 3)  # bitwise XOR 5 -> 0101 and 3 -> 0011 output -> 0110 (6)
print(~5)  # bitwise NOT 5 -> 00000101 output -> 11111010 (-6)
print(5 << 1)  # bitwise NOT 5 -> 00000101 output -> 00001010 (10)
print(5 >> 1)  # bitwise NOT 5 -> 00000101 output -> 00000010 (2)

1
7
6
-6
10
2

5. Explain the concept of type casting in Python with examples.
  - Type casting is a process of converting one datatype to another datatype.
  - There are two types of type conversion
    1. Implicit type conversion
      - In this conversion python automatically convert one datatype to other as per need.
    2. Explicit type conversion
      - In this user manually convert one data type to another.

In [ ]:
# Implicit Conversion
x = 10       # int
y = 2.5      # float

result = x + y
print(result)       # Output: 12.5
print(type(result)) # Output: <class 'float'>

# Explicit Conversion
# int to float
a = 5
b = float(a)
print(b)  # 5.0

# float to int (fractional part is dropped)
c = 3.9
d = int(c)
print(d)  # 3

# int to string
e = 100
f = str(e)
print(f)          # '100'
print(type(f))    # <class 'str'>

# string to int
g = "42"
h = int(g)
print(h + 1)      # 43

# string to float
i = "3.14"
j = float(i)
print(j)          # 3.14

# string to list
k = "hello"
l = list(k)
print(l)          # ['h', 'e', 'l', 'l', 'o']

 6. How do conditional statements work in Python? Illustrate with examples.
  - Condition statement allow us to execute a block of code when the given condition is true.
  - if -> check first condition
  - elif -> check other condition when trhe condition written in if is not true
  - else -> execute when all condition is false

In [5]:
# simple if
x = 3

if x % 2 == 0:
    print("Even number")
else:
    print("Odd number")

# elif
marks = 85

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 60:
    print("Grade C")
else:
    print("Fail")

Odd number
Grade B

 7. Describe the different types of loops in Python and their use cases with examples.
 - for Loop -> for loop is used to iterate over a sequence like list, string, tuple and also in a given range using range() function.
  - Use case ->
  - Iterating through elements of a list or string
  -  Performing a task a fixed number of times (using range)
  - Working with collections (e.g., dictionaries)
 - while Loop -> while loop is run until the given condition is true.
  - Use case ->
    - Running until a certain condition is met (e.g., waiting for user input)
    - Polling or retrying operations
    - Games or simulations where the loop continues until an event happens

In [6]:
# for loop
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

# while loop
count = 0
while count < 3:
    print("Count:", count)
    count += 1

apple
banana
cherry
Count: 0
Count: 1
Count: 2