1. What are data structures, and why are they important ?
  - Data structures are ways of organizing and storing data in a computer so that it can be accessed and used efficiently. In Python, data structures are crucial because they help manage data logically, perform operations faster, and write cleaner, more maintainable code.

2. Explain the difference between mutable and immutable data types with examples.
  - Mutable Datatype -->
  - Mutable datatype can be change after creation
  - Immutable Datatype -->
  - Immutable datatype cannot change after creation we cannot add ne values or delete one value.

In [ ]:
# Mutable Datatype
l = [1,2,3,4]
print(id(l))
l.append(5)
print(l,id(l))

# Immutable Datatype
x = 'Hello'
print(id(x))
x += 'world'
print(x)
print(id(x))

134221437098432
[1, 2, 3, 4, 5] 134221437098432
134221448013104
Helloworld
134221450527984

3. What are the main differences between lists and tuples in Python ?
  - List --> List in mutable datatype.
  - Tuple --> tuple is immutable datatype.

4. Describe how dictionaries store data.
  - Dictionaries in Python store data as key-value pairs using a hash table under the hood. This structure allows for fast access, insertion, and deletion, typically in constant time: O(1).
  - Keys: "name", "age", "city" -> must be immutable (like str, int, tuple)
  - Values: "Alice", 25, "New York" -> can be any type (even lists or other dicts)

In [ ]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

5. Why might you use a set instead of a list in Python ?
  - I use set instead of list when i have to maintain uniqueness of every elment and don't need about oreder.

6. What is a string in Python, and how is it different from a list ?
  - A string in Python is a sequence of characters, enclosed in single (') or double (") quotes.
  - string is immutable and list is mutable
  - In string every character is string and in list it can be anything.
  - String -> 'hello'
  - List -> ['s',1,2.3,True]

7.  How do tuples ensure data integrity in Python ?
- Once a tuple is created, its contents cannot be changed — you can't add, remove, or modify elements.
This makes tuples ideal for storing constant data or configurations that shouldn't be altered during program execution.

8. What is a hash table, and how does it relate to dictionaries in Python ?
  - A hash table is a data structure that allows you to store and retrieve data efficiently using keys. It's the underlying mechanism behind dictionaries (dict) in Python.
  - A hash table:
  - Stores key-value pairs
  - Uses a hash function to convert each key into an index in an array (called a "bucket")
  - Places the value at that index
  - Only hashable (i.e., immutable) types can be used as dict keys. That's why you can use int, str, or tuple, but not a list or dict.

9. Can lists contain different data types in Python ?
  - Yes a list can contain many types of data at same time
  - l = [1,2.3,'hrllor',True,[1,2,3],(34,34)]

10. Explain why strings are immutable in Python ?
  - Strings in Python are immutable by design — once a string is created, it cannot be changed. Any operation that seems to "modify" a string actually creates a new string. This immutability offers several benefits, both in terms of performance and safety.
  - Immutable objects can be hashed, which is crucial for using strings as dictionary keys or in sets. If strings were mutable, changing them after using them as a key would break the data structure.
  - Strings are often used for sensitive or important data like file paths, URLs, identifiers, etc. Making them immutable ensures.
  - Since strings can’t be modified, they can be safely shared between threads without locking or unexpected behavior — making them naturally thread-safe.

11. What advantages do dictionaries offer over lists for certain tasks ?
  - Dicts: O(1) average time complexity for lookups.
  - Lists: O(n) time for searching — need to scan through the list.
  - Dictionaries let you access data by name rather than index. Improves code readability and clarity.
  - Dictionaries are perfect for representing objects, records, or JSON-like data.
  - A dictionary automatically ensures unique keys, so it's great when you want to store distinct values and overwrite duplicates cleanly.

12. Describe a scenario where using a tuple would be preferable over a list.
  - The data is fixed-length and shouldn't change
  - You want to protect the contents from modification
  - You may need to use it as a dictionary key or set item

13. How do sets handle duplicate values in Python ?
  - Sets in Python are designed to automatically eliminate duplicate values — that's one of their main features.
  - Sets are implemented using hash tables, like dictionaries (but without key-value pairs). Each element must be hashable (i.e., immutable), and it must produce a unique hash value. If two items produce the same hash, Python compares them for equality and keeps only one.

14. How does the “in” keyword work differently for lists and dictionaries ?
  - For list ->
  - Linear search (left to right)
  - Compares each element until it finds a match (or reaches the end)
  - O(n) — slower for large lists
  - For Dictionaries ->
  - Checks if the key exists, not the value
  - Uses hashing, so it’s very fast
  - O(1) on average — much faster than lists

15. Can you modify the elements of a tuple? Explain why or why not ?
  - No, you cannot modify the elements of a tuple.
  - It is immutable, once a tuple is created, its elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case ?
  - A nested dictionary in Python is a dictionary where values themselves can be dictionaries (or even other complex data structures like lists or other nested dictionaries). It allows you to represent more complex and hierarchical data in a structured way.

In [ ]:
nested_dict = {
    'key1': {
        'subkey1': value1,
        'subkey2': value2
    },
    'key2': {
        'subkey1': value3
    }
}

17. Describe the time complexity of accessing elements in a dictionary.
  - In Python, dictionaries are implemented using hash tables, which makes accessing elements very efficient.
  - Time Complexity: O(1) — constant time.
This means that accessing an element (like my_dict[key]) usually takes the same amount of time, no matter how large the dictionary is.

18.  In what situations are lists preferred over dictionaries ?
  - Lists preserve insertion order and allow index-based access.
  - Lists are great when you're doing something to each item in order.
  - Lists generally use less memory than dictionaries, especially when storing large numbers of simple values.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
  - The internal structure (hash tables) focused on fast access, not maintaining the order you inserted items in.
  - Key-based lookup is super fast (O(1))
  - They're designed for fast key-based access, not for position-based operations like lists.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - List retrive data by the index(position)
  - Dictionary retrive data by the keys.

1. Write a code to create a string with your name and print it.

In [ ]:
s = 'Saumya Rajpoot'
print(s)

Saumya Rajpoot

2. Write a code to find the length of the string "Hello World".

In [ ]:
print(len("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
s = 'Python Programming'
print(s[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
s = 'hello'
print(s.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
s = 'I like apple'
s = s.replace('apple','orange')
print(s)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
l = [1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
l = [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
l = ['a', 'b', 'c', 'd']
print(l[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t = (100,200,300)
print(type(t))
print(t)

<class 'tuple'>
(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
t = (10,20,5,15)
print(min(t))

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
t =  ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
t = ('apple','mango','kiwi')
print('kiwi' in t)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s = { 'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
s =  {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1 | s2)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1 & s2)

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
d = {'name':'saumya','age':21,'city':'lucknow'}
print(d)

{'name': 'saumya', 'age': 21, 'city': 'lucknow'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
d = {'name': 'John', 'age': 25}
d["country"] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
d =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

26.  Write a code to create a list, a tuple, and a dictionary, and print them all

In [ ]:
l = [1,2,3,4]
t = (4,4,5,6)
d = {'name': 'Alice', 'city': 'Paris'}
print(l,t,d)

[1, 2, 3, 4] (4, 4, 5, 6) {'name': 'Alice', 'city': 'Paris'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.

In [ ]:
import random
random_list = [random.randint(1, 100) for _ in range(5)]

random_list.sort()
print("Sorted random list:", random_list)

Sorted random list: [15, 16, 66, 74, 96]

28.  Write a code to create a list with strings and print the element at the third index.

In [ ]:
l = ['a','b','c','d','e']
print(l[2])

c

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
d1 = {'name': 'Alice', 'city': 'Paris'}
d2 = {'gender': 'female', 'age': 25}
d1.update(d2)
print(d1)

{'name': 'Alice', 'city': 'Paris', 'gender': 'female', 'age': 25}

30. Write a code to convert a list of strings into a set.

In [ ]:
l = ['a','b','c','d','d']
l = set(l)
print(l)

{'c', 'b', 'a', 'd'}